.overrideArco {
  :global {
    .arco-input-inner-wrapper,
    .arco-select-view {
      background-color: #fff !important;
      border-color: rgb(228 228 231 / var(--tw-border-opacity)) !important;
    }

    .arco-input-inner-wrapper:hover,
    .arco-select-view:hover {
      background-color: #fff !important;
      border-color: rgb(228 228 231 / var(--tw-border-opacity)) !important;
    }

    .arco-input-inner-wrapper:focus-within,
    .arco-select-view-focus {
      background-color: #fff !important;
      border-color: rgb(228 228 231 / var(--tw-border-opacity)) !important;
    }

    .arco-tag-checked {
      color: rgb(113 113 122 / var(--tw-text-opacity)) !important;
      background-color: #fff !important;
      border-color: rgb(228 228 231 / var(--tw-border-opacity)) !important;
    }

    .arco-collapse-item .arco-collapse-item-icon-hover {
      top: 25% !important;
    }
    .arco-tabs-content {
      padding-top: 0px !important;
    }
  }
}
