# Add files here to ignore them from prettier formatting

/dist
/coverage
**/*.hbs
*.md
!README.md
pnpm-lock.yaml
**/dist/**
**/dist-rslib/**
apps/website-new/docs
packages/treeshake-server/template/**

/.nx/workspace-data
/.nx/cache

**/*.handlebars
