@tailwind base;
@tailwind components;
@tailwind utilities;

@import './app/css/toc-menu.scss';
@import './app/css/doc.scss';
@import './app/css/nav.scss';
@import './app/css/search.scss';
@import './app/css/highlight.scss';

/* Fonts! */
@font-face {
  font-family: 'Avenir Local';
  font-style: normal;
  font-weight: 100;
  src: url('./app/fonts/AvenirNextLTPro-UltLt.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Local';
  font-style: normal;
  font-weight: 400;
  src: url('./app/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Local';
  font-style: normal;
  font-weight: 500;
  src: url('./app/fonts/AvenirNextLTPro-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Local';
  font-style: normal;
  font-weight: 600;
  src: url('./app/fonts/AvenirNextLTPro-Demi.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Local';
  font-style: normal;
  font-weight: 700;
  src: url('./app/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Local';
  font-style: normal;
  font-weight: 800;
  src: url('./app/fonts/AvenirNextLTPro-Heavy.otf') format('opentype');
}

@layer base {
  html {
    font-family: 'Avenir Next', 'Avenir Local';
  }
}
