:global {
  .arco-card-body {
    padding: 0 !important;
  }

  .arco-form-layout-horizontal {
    flex: 1;
    margin: 0 1vw 0 0;
  }

  .arco-form-item-wrapper {
    width: 100%;
    flex: 1;
  }
}

.layout {
  width: 100%;
  height: 100vh;

  & .content {
    margin: 0 0.5vw 0 2vw;
  }
}
