{
  "presets": [
    ["@babel/preset-env", { "targets": { "browsers": ["last 2 versions"] } }],
    ["@babel/preset-typescript", { "allowDeclareFields": true }],
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  "plugins": []
}
