# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
**/node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
**/dist
/packages/app1/dist
/packages/app2/dist
**/build
/packages/app1/build
/packages/app2/build

# notes
notes/*.md
!notes/RESEARCH.md
test-results/

# misc
.DS_Store
.eslintcache
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vscode
.vscode
