.container {
  display: flex;
  justify-content: center;

  & .checkBox {
    transform: scale(1.25);
  }

  & .input {
    margin: 0 1vw 0 0;
    flex: 1;
    // width: 20px
  }

  & .delete {
    margin: 0 0 0 1vw;
  }
}

.header {
  display: flex;
  align-items: center;
  margin: 1vh 0;

  & .add {
    margin: 0 0.5vw;
  }

  & .title {
    margin: 0 0.5vw;
  }

  & .status {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;

    & .message {
      flex: 1;
    }

    & .switch {
      margin-left: 0.5vw;
    }
  }

  & .badge {
    display: flex;
    transform: scale(1.6);
    margin: 0 0.6vw;
  }
}
