name: Build affected packages

on:
  push:
    branches: ['main']
  pull_request:

jobs:
  main:
    runs-on: ubuntu-latest
    # Cancel any previous runs in progress
    concurrency:
      group: ${{ github.head_ref || github.run_id }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Pnpm
        run: corepack enable
      - name: Setup Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'pnpm'
      - uses: nrwl/nx-set-shas@v3
      - run: pnpm install
      - run: npx cypress install
      - run: npx nx format:check
      - run: npx nx affected -t build --parallel=10 --exclude='*,!tag:package'
      - run: npx nx affected -t lint --parallel=7 --exclude='*,!tag:package'
      - run: npx nx affected -t test --parallel=3 --exclude='*,!tag:package'
      - run: npx nx run-many --target=serve --projects=3000-home,3001-shop,3002-checkout --parallel=3 & echo "done"
      - run: sleep 6 && npx nx run-many --target=test:e2e --projects=3000-home,3001-shop,3002-checkout --parallel=1
      - run: lsof -ti tcp:3000,3001,3002 | xargs kill
      - run: npx nx run-many --target=serve --projects=3005-runtime-host,3006-runtime-remote,3007-runtime-remote --parallel=3 & echo "done"
      - run: sleep 6 && npx nx run-many --target=test:e2e --projects=3005-runtime-host --parallel=1
      - run: lsof -ti tcp:3005,3006,3006 | xargs kill
