# .github/workflows/e2e-runtime-host.yml
name: E2E Test for Runtime

on:
  workflow_call:

jobs:
  e2e-runtime:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Cache Tool Downloads
        uses: actions/cache@v5
        with:
          path: ~/.cache
          key: ${{ runner.os }}-toolcache-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-toolcache-

      - name: Set Playwright cache status
        run: |
          if [ -d "$HOME/.cache/ms-playwright" ] || [ -d "$HOME/.cache/Cypress" ]; then
            echo "PLAYWRIGHT_CACHE_HIT=true" >> "$GITHUB_ENV"
          else
            echo "PLAYWRIGHT_CACHE_HIT=false" >> "$GITHUB_ENV"
          fi

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'

      - name: Set Nx SHA
        uses: nrwl/nx-set-shas@v4

      - name: Set SKIP_DEVTOOLS_POSTINSTALL environment variable
        run: echo "SKIP_DEVTOOLS_POSTINSTALL=true" >> "$GITHUB_ENV"

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Install Cypress
        run: npx cypress install

      - name: Run Build for All
        run: npx nx run-many --targets=build --projects=tag:type:pkg

      - name: Run condition check script
        id: check-ci
        run: node tools/scripts/ci-is-affected.mjs --appName=3005-runtime-host

      - name: E2E Test for Runtime Demo
        if: steps.check-ci.outcome == 'success'
        run: npx kill-port --port 3005,3006,3007 && pnpm run app:runtime:dev & echo "done" && sleep 20 && npx nx run-many --target=test:e2e --projects=3005-runtime-host --parallel=1 && lsof -ti tcp:3005,3006,3007 | xargs kill
