name: E2E Test for Shared Tree Shaking Demo

on:
  workflow_call:

jobs:
  e2e-runtime:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Cache Tool Downloads
        uses: actions/cache@v5
        with:
          path: ~/.cache
          key: ${{ runner.os }}-toolcache-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-toolcache-

      - name: Set Playwright cache status
        run: |
          if [ -d "$HOME/.cache/ms-playwright" ] || [ -d "$HOME/.cache/Cypress" ]; then
            echo "PLAYWRIGHT_CACHE_HIT=true" >> "$GITHUB_ENV"
          else
            echo "PLAYWRIGHT_CACHE_HIT=false" >> "$GITHUB_ENV"
          fi

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'

      - name: Set Nx SHA
        uses: nrwl/nx-set-shas@v4

      - name: Set SKIP_DEVTOOLS_POSTINSTALL environment variable
        run: echo "SKIP_DEVTOOLS_POSTINSTALL=true" >> "$GITHUB_ENV"

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Install Cypress
        run: npx cypress install

      - name: Run Build for All
        run: npx nx run-many --targets=build --projects=tag:type:pkg

      - name: Run condition check script
        id: check-ci
        run: |
          if node tools/scripts/ci-is-affected.mjs --appName=shared-tree-shaking-with-server-host; then
            echo "run-e2e=true" >> "$GITHUB_OUTPUT"
          else
            echo "run-e2e=false" >> "$GITHUB_OUTPUT"
          fi

      - name: E2E Test for Shared Tree Shaking Demo - Mode runtime-infer
        if: steps.check-ci.outputs.run-e2e == 'true'
        run: npx kill-port --port 3001,3002 && nx run shared-tree-shaking-no-server-host:test:e2e && lsof -ti tcp:3001,3002 | xargs kill

      - name: E2E Test for Shared Tree Shaking Demo - Mode server-calc
        if: steps.check-ci.outputs.run-e2e == 'true'
        run: npx kill-port --port 3001,3002,3003 && nx run shared-tree-shaking-with-server-host:test:e2e && lsof -ti tcp:3001,3002,3003 | xargs kill
