name: PR-Workflow

on: pull_request

jobs:
  build_checks:
    name: Build Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Setup Git
        run: |
          git config user.name "GitHub Bot"
          git config user.email "gituser@example.com"
      - run: yarn install --frozen-lockfile
      - name: Lint
        shell: bash
        run: |
          PROJECTS=$($(npm bin)/nx print-affected --type=lib --select=projects)
          yarn nx run-many --target=lint --projects=$PROJECTS
      - name: Build
        shell: bash
        run: |
          PROJECTS=$($(npm bin)/nx print-affected --type=lib --select=projects)
          yarn nx run-many --target=build --projects=$PROJECTS
