name: Release

on:
  workflow_dispatch:
    inputs:
      package:
        description: 'Packages to Publish'
        required: true
        type: choice
        options:
          - all
          - nextjs-mf
          - node
          - typescript
          - utils

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'
      - name: Setup Git
        run: |
          git config user.name "GitHub Bot"
          git config user.email "gituser@example.com"
      - name: Install packages
        run: yarn install --frozen-lockfile
      - name: Lint
        shell: bash
        run: |
          PROJECTS=$($(yarn bin)/nx print-affected --type=lib --select=projects --base=origin/main)
          if [[ "$PROJECTS" ]]; then
            yarn nx run-many --target=lint --projects="$PROJECTS"
          else
            echo "No changes, Skipping lint check."
          fi
      - name: Build
        shell: bash
        run: |
          PROJECTS=$($(yarn bin)/nx print-affected --type=lib --select=projects --base=origin/main)
          if [[ "$PROJECTS" ]]; then
            yarn nx run-many --target=build --projects="$PROJECTS"
          else
            echo "No changes, Skipping build check."
          fi
      - name: Version
        shell: bash
        run: |
          npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"

          PROJECTS=${{ inputs.projects }}

          if [[ $PROJECTS == "all" ]]; then
            PROJECTS=$($(yarn bin)/nx print-affected --type=lib --select=projects --base=last-release)
          fi;

          echo $PROJECTS

          yarn nx run-many --target=version --projects="$PROJECTS" --parallel=1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Tag last-release
        shell: bash
        run: |
          git tag -f last-release
          git push origin last-release --force
