<div class="flex flex-col">
    <article class="doc">
        {{#with page.title}}
        <h1>{{{this}}}</h1>
        {{/with}}
        {{{page.contents}}}
    </article>
  {{#if page.editUrl}}
    <div class="edit-this-page">
      <a href="{{page.editUrl}}">
        <img alt="edit page"
           src="{{{@root.uiRootPath}}}/img/icons-edit.svg"
        />
        Edit this page on GitHub
      </a>
    </div>
  {{/if}}

  <div class="mt-10">
    {{> pagination}}
  </div>
</div>
