<div class="flex items-center w-full bg-mf-gray">
    <div class="max-w-7xl w-full mx-auto flex flex-col-reverse xl:flex-row px-4 py-12 gap-8">
        <div class="min-w-[300px] sticky top-[136px] h-fit">
            {{> nav-menu}}
            {{!-- <hr>
            {{> nav-explore}} --}}
        </div>

        <div class="w-full overflow-x-hidden">
            {{> main}}
        </div>

        <div class="w-fit min-w-[140px] xl:sticky top-[136px] h-fit hidden xl:flex">
            {{> toc}}
        </div>
    </div>
</div>