<footer class="flex flex-col justify-center items-center w-full bg-mf-gray gap-10 py-28">

  <a href="/">
    <img class="h-10"
         src="{{{uiRootPath}}}/img/module-federation-logo.svg"
         alt="Module Federation Logo">
  </a>

  <nav class="flex">
    <ul class="flex items-center justify-center flex-wrap gap-y-4 gap-x-10">
      <li>
        <a class="inline-block border-solid relative text-blue-gray-900 border-transparent font-medium text-lg outline-ui-blue hover:text-deep-purple-700 active:text-deep-purple-300"
          target="_blank" href="https://github.com/module-federation/module-federation-examples">Examples</a>
      </li>

      <li>
        <a class="inline-block border-solid relative text-blue-gray-900 border-transparent font-medium text-lg outline-ui-blue hover:text-deep-purple-700 active:text-deep-purple-300"
          target="_blank" href="https://module-federation.myshopify.com/products/practical-module-federation">Practical guide</a>
      </li>

      <li>
        <a class="inline-block border-solid relative text-blue-gray-900 border-transparent font-medium text-lg outline-ui-blue hover:text-deep-purple-700 active:text-deep-purple-300"
           target="_blank" href="https://app.medusa.codes/">Try Medusa</a>
      </li>

      <li>
        <a class="inline-block border-solid relative text-blue-gray-900 border-transparent font-medium text-lg outline-ui-blue hover:text-deep-purple-700 active:text-deep-purple-300"
           href="/docs/en/mf-docs/0.2/">Documentation</a>
      </li>

      <li>
        <a class="inline-block border-solid relative text-blue-gray-900 border-transparent font-medium text-lg outline-ui-blue hover:text-deep-purple-700 active:text-deep-purple-300"
           target="_blank" href="https://opencollective.com/module-federation-universe">Become a sponsor</a>
      </li>

      <li>
        <a class="inline-block border-solid relative text-blue-gray-900 border-transparent font-medium text-lg outline-ui-blue hover:text-deep-purple-700 active:text-deep-purple-300"
           href="/privacy-policy">Privacy Policy</a>
      </li>

    </ul>

  </nav>


</footer>
