<footer class="flex flex-col justify-center items-center w-full bg-mf-gray gap-10 py-28">

  <a href="#">
    <img class="h-10"
         src="{{{uiRootPath}}}/img/module-federation-logo.svg"
         alt="Module Federation Logo">
  </a>

  <nav class="flex">
    <ul class="flex items-center justify-center flex-wrap gap-y-4 gap-x-10">
      <li>
        <a class="inline-block border-solid relative text-blue-gray-900 border-transparent font-medium text-lg outline-ui-blue hover:text-deep-purple-700 active:text-deep-purple-300"
           href="#">Examples</a>
      </li>

      <li>
        <a class="inline-block border-solid relative text-blue-gray-900 border-transparent font-medium text-lg outline-ui-blue hover:text-deep-purple-700 active:text-deep-purple-300"
           href="#">Practical guide</a>
      </li>

      <li>
        <a class="inline-block border-solid relative text-blue-gray-900 border-transparent font-medium text-lg outline-ui-blue hover:text-deep-purple-700 active:text-deep-purple-300"
           href="#">Try Medusa</a>
      </li>

      <li>
        <a class="inline-block border-solid relative text-blue-gray-900 border-transparent font-medium text-lg outline-ui-blue hover:text-deep-purple-700 active:text-deep-purple-300"
           href="#">Documentation</a>
      </li>

      <li>
        <a class="inline-block border-solid relative text-blue-gray-900 border-transparent font-medium text-lg outline-ui-blue hover:text-deep-purple-700 active:text-deep-purple-300"
           href="#">Become a sponsor</a>
      </li>

      <li>
        <a class="inline-block border-solid relative text-blue-gray-900 border-transparent font-medium text-lg outline-ui-blue hover:text-deep-purple-700 active:text-deep-purple-300"
           href="#">Privacy Policy</a>
      </li>

    </ul>

  </nav>


</footer>